.loader-overlay {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20%;
    height: 20%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
  }
  
  .spinner {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #0047ff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
  