   .property-container {
        padding: 32px;
        max-width: 1200px;
        margin: 0 auto;
    }
     
    header{
        margin-bottom: 50px;
    }

    .navbar-left {
        display: flex;
        align-items: center;
        gap: 30px;
    }

    .profile{
        display: flex;
        align-items: center;
    }

    .avatar {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        margin-right: 10px;
        cursor: pointer;
        background-size: cover;
    }

    .profile-name {
        font-size: 15px;
        color: #555;
        cursor: pointer;
    }

    .home-button {
        background-color: #D7E3FF;
        color: #000;
        font-weight: bold;
        border: none;
        border-radius: 17px;
        padding: 12px 20px;
        font-size: 14px;
        cursor: pointer;
    }

    .profile {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    .profile-img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }

    .nav-active {
        background-color: #e0e7ff;
        color: #1e40af;
        font-weight: bold;
        padding: 8px 16px;
        border-radius: 999px;
    }

    .image-section {
        display: flex;
        gap: 16px;
        margin-bottom: 24px;
    }

    .main-image {
        width: 60%;
        height: 400px;
        object-fit: cover;
        border-radius: 16px;
    }

    .side-images {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 12px;
        width: 40%;
    }

    .side-images img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 16px;
    }

    .info-section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 32px;
    }

    .details {
        flex: 2;
    }

    .details h2 {
        margin: 0 0 12px 0;
    }

    .desc {
        color: #666;
        line-height: 1.5;
        margin-bottom: 12px;
        width: 50%;
    }

    .features {
        display: flex;
        gap: 16px;
        font-weight: bold;
        margin-bottom: 12px;
    }

    .reviews {
        color: #444;
        font-size: 14px;
    }

    .pricing {
        flex-shrink: 0;
        text-align: right;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .pricehotel {
        display: flex;
        align-items: center;
        gap: 7px;
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 12px;
    }

    .pricehotel span {
        font-size: 14px;
        color: #666;
        font-weight: normal;
    }

    .tour-btn {
        width: 220px;
        padding: 12px 24px;
        background-color: #0047ff;
        color: white;
        font-weight: bold;
        border: none;
        border-radius: 999px;
        cursor: pointer;
    }

    .tour-btn:hover {
        background-color: #0039cc;
    }
