
nav{
  margin-bottom: 50px;
}
.home{
  width: 90%;
  margin: auto;

}
.cards{
  display: grid;
  grid-template-columns: repeat(4,1fr);
}
.add-button {
  position: fixed;
  bottom: 24px;
  right: 24px;
  width: 64px;
  height: 64px;
  font-size: 32px;
  font-weight: bold;
  background-color: #161fce; /* Green */
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  transition: background-color 0.2s, transform 0.2s;
}

.add-button:hover {
  background-color: #094df8;
  transform: scale(1.05);
}

